<!--suppress AndroidDomInspection -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="uk.ac.nottingham.eaxtp1.CradleRideLogger.MainActivity"
            android:exported="true"
            tools:ignore="InnerclassSeparator"
            android:excludeFromRecents="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category tools:node="merge" android:name="android.intent.category.HOME"/>
                <category tools:node="merge" android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="uk.ac.nottingham.eaxtp1.CradleRideLogger.AmbSelect"
            tools:ignore="InnerclassSeparator"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>

        <service android:name="uk.ac.nottingham.eaxtp1.CradleRideLogger.AmbGPSService"
            tools:ignore="InnerclassSeparator" />

        <service android:name="uk.ac.nottingham.eaxtp1.CradleRideLogger.AmbWriteAfterReboot"
            tools:ignore="InnerclassSeparator"
            android:exported="false" />

        <service android:name="uk.ac.nottingham.eaxtp1.CradleRideLogger.AmbLoggingService"
            tools:ignore="InnerclassSeparator"/>

    </application>

</manifest>
