<?xml version="1.0" encoding="utf-8"?><!-- suppress AndroidDomInspection -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.ac.nottingham.AmbLogger">

    <!-- Permissions for the recording -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Permissions for upload and JobScheduler -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Permission for detecting wifi connection inside the GPSService -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission for recording sound -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Permission required in API 28 to run services in the foreground -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/crl_backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"> <!-- Suppresses a couple of warnings. -->

        <activity
            android:name="uk.ac.nottingham.AmbLogger.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="true"
            android:excludeFromRecents="false"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category tools:node="merge" android:name="android.intent.category.HOME"/>
                <category tools:node="merge" android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="uk.ac.nottingham.AmbLogger.AmbSpecific.MetaSelectionActivity"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>

        <service android:name="uk.ac.nottingham.AmbLogger.AmbSpecific.InitialiseGPS"
            tools:ignore="InnerclassSeparator" />

        <service android:name="uk.ac.nottingham.AmbLogger.AmbSpecific.LogMetaAfterReboot"
            tools:ignore="InnerclassSeparator"
            android:exported="false" />

        <service android:name="uk.ac.nottingham.AmbLogger.AmbSpecific.MetaLoggingService"
            tools:ignore="InnerclassSeparator"/>

        <service android:name="uk.ac.nottingham.AmbLogger.FileHandling.UploadService" />

        <service android:name="uk.ac.nottingham.AmbLogger.FileHandling.MovingService" />

        <service android:name="uk.ac.nottingham.AmbLogger.Recording.AudioService"
            android:foregroundServiceType="microphone" />

        <service android:name="uk.ac.nottingham.AmbLogger.Recording.GPSService"
            android:foregroundServiceType="location" />

        <service android:name="uk.ac.nottingham.AmbLogger.Recording.LoggingService" />

        <service android:name="uk.ac.nottingham.AmbLogger.Recording.IMUService" />

        <service android:name="uk.ac.nottingham.AmbLogger.FileHandling.UploadJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name="uk.ac.nottingham.AmbLogger.Recording.GPSTimerService" />

        <service android:name="uk.ac.nottingham.AmbLogger.Utilities.FSChecker" />

        <service android:name="uk.ac.nottingham.AmbLogger.Recording.WifiCheckService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name="uk.ac.nottingham.AmbLogger.Settings.Settings"
            android:theme="@style/MyPrefTheme"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.nottingham.AmbLogger.MainActivity" />
        </activity>

        <service android:name="uk.ac.nottingham.AmbLogger.FileHandling.DeletingJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name="uk.ac.nottingham.AmbLogger.Recording.AutoStopTimerService" />
    </application>

</manifest>